<div class="row">
  <div class="col-md-6">
    <%= form_for  [:admin, @event] do |f| %>
      <div class="form-row">
        <div class='form-group col-md-7  offset-md-1'>
          <%= f.label :intro, 'Intro' %>
          <%= f.text_field :intro, class: 'form-control' %>
        </div>

        <div class='form-group col-md-4 box'>
          <%= image_tag @event.photo, class: 'img-fluid rounded' %>
          <%= f.file_field :photo %>
        </div>

        <div class='form-group col-md-4 offset-md-1'>
          <%= f.label :date, 'Date' %>
          <%= f.text_field :date, class: 'form-control' %>
        </div>
        <div class='form-group col-md-3'>
          <%= f.label :week, 'Week' %>
          <%= f.text_field :week, class: 'form-control' %>
        </div>
        <div class='form-group col-md-4'>
          <%= f.label :time, 'Time' %>
          <%= f.text_field :time, class: 'form-control' %>
        </div>
        
        <div class='form-group col-md-5 offset-md-1'>
          <%= f.label :name, 'Name' %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class='form-group col-md-6'>
          <%= f.label :organizer, 'Organizer' %>
          <%= f.text_field :organizer, class: 'form-control' %>
        </div>
        
        <div class='form-group col-md-3 offset-md-1'>
          <%= f.label :price, 'Price' %>
          <%= f.text_field :price, class: 'form-control' %>
        </div>
        <div class='form-group col-md-6'>
          <%= f.label :ticket_link, 'ticket' %>
          <%= f.text_field :ticket_link, class: 'form-control' %>
        </div>
        <div class='form-group col-md-2'>
          <%= f.label :feature, 'Teature' %>
          <%= f.check_box :feature, class: 'form-control' %>
        </div>
        
        <div class='form-group align-self-end'>  
          <%= f.submit 'update', class: 'btn btn-warning' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
