<div class="container">

  <h1>The Wall後台</h1>
  <div>
    <%= link_to 'Places', admin_places_path %>
    |
    <%= link_to 'Events', admin_events_path %>
    |
    <%= link_to 'Artists', admin_artists_path %>
    |
    <%= link_to 'Users', admin_users_path %>

  </div>

  <div class="row">
    <div class="col-md-12">
      <br>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class = "w-6">ID</th>
            <th>Event</th>
            <th>Photo</th>
            <th>intro</th>
            <th colspan="3">Time</th>
            <th>Organizer</th>
            <th>Price</th>
            <th>Ticket_link</th>
            <th>Feature?</th>
          </tr>
        </thead>

        <tbody>
          <% @events.each do |event| %>
          <tr>
            <!-- 推播數量、關注人數、跟隨者人數、推播被like的數量 -->
            <!-- 管理者可以瀏覽站內所有的使用者清單，該清單按推播文數排序 -->
            <th scope="row"><%= event.id %></th>
            <td>[<%= link_to event.name, event_path(event) %>]</td>
            <td><%= image_tag event.photo, class: 'avatar-navi rounded' %></td>
            <td><%= event.intro %></td>
            <td><%= event.date %></td>
            <td><%= event.week %></td>
            <td><%= event.time %></td>
            <td><%= event.organizer %></td>
            <td><%= event.price %></td>
            <td><%= event.ticket_link %></td>
            <td>checkbox</td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <div class="text-center">
        <%#= paginate @events %>
      </div>

    </div>

  </div>
</div>

