<div class="artist-header">
  <div class="row">
    <div class="col-md-8">
      <h1><%= @artist.name %></h1>
      <h6><%= @artist.intro %> </h6>          
      <div class="row">
        <div class="col-md-4">
          <%= render partial: "shared/user_follow_artist", locals: {artist: @artist} %>
          <strong><%= @artist.favorits_count %></strong> Favorites              
        </div>
        <div class="col-md-8">
          <%= render partial: "shared/user_favorite_artist", locals: {artist: @artist} %>
          <strong><%= @artist.artist_followships_count %></strong> Follower 
        </div>
      </div>                    
    </div> 
    <div class="col-md-4">
      <%= @artist.photo %>
    </div> 
  </div>
  <div class="clearfix"></div>
  <hr>
</div>

<div class="recent-events">
  <div class="row">
    <div class="col-md-8">
      <h2>Music Review</h2>
        <div class="youtube">

          <iframe width="100%" height="500" src="https://www.youtube.com/embed/PMivT7MJ41M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="spotify">
          <h4> Spotify Top 5 Song</h4>
          <% @musics.each do |music| %>
            <h6><%= link_to "#{music.name}", music.link %></h6> 
          <% end %>
        </div>
    </div>
    <div class="col-md-4">
      <h2>Recent Perform</h2>
      <% @events.each do |event| %>
        <div class="event-item">
          <h4><%= event.name %></h4>
          <h6><%= event.date %></h6>
          <h6><%= event.info %></h6>
          <hr>
        </div>
      <% end %>
    </div>

  </div>
</div>

<hr>

<div class="music-review">
  <div class="row">
    
  </div>
</div>


