<div class="artist-header">
  <div class="row">
    <div class="artist-header-frame col-md-8">
      <div class="artist-header-title">
        <h1><%= @artist.name %></h1>
        <h6><%= @artist.intro %> </h6>
        <div class="row">
          <div class="col-md-4">
            <%= render partial: "shared/user_follow_artist", locals: {artist: @artist} %>
          </div>
          <div class="col-md-8">
            <strong id="artist-follow-count"><%= @artist.artist_followships_count %></strong> Followers
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <% if @artist.photo %>
        <%= image_tag @artist.photo, width: "200px" %>
      <% end %>
    </div>
  </div>
  <div class="clearfix"></div>
  <hr>
</div>

<div class="recent-events">
  <div class="row">
    <div class="col-md-8">
      <h2>Music Review</h2>
      <div class="youtube">
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/DZr1NE5BNh8"
        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-4">
      <h2>Recent Perform</h2>
      <% @events.each do |event| %>
        <%= render partial: "shared/event_template", locals: {event: event} %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="spotify">
      <% if @top_tracks %>
        <h4> Spotify Top Tracks</h4>
          <% @top_tracks.each do |track| %>
            <iframe src="https://open.spotify.com/embed?uri=<%= track.uri %>"
            width="300" height="80" frameborder="0" allowtransparency="true"
            allow="encrypted-media"></iframe>
          <% end %>
      <% end %>
    </div>
  </div>
</div>

<!-- Follow Artist Ajax -->
<script>
  $('.follow-artist-box').on("click", ".follow-b", function(event) {
    var id = event.target.parentNode.id;
    $.ajax({
      url: id + "/follow",
      method: "POST",
      dataType: "json",
      success: function(data) {
        $('#' + data["id"]).html($('#artist-unfollow-template').html());
        var count = parseInt($('#artist-follow-count').html());
        $('#artist-follow-count').html(count + 1);
      }
    });
  });
</script>

<!-- Unfollow Artist Ajax -->
<script>
  $('.follow-artist-box').on("click", ".unfollow-b", function(event) {
    var id = event.target.parentNode.id;
    $.ajax({
      url: id + "/unfollow",
      method: "POST",
      dataType: "json",
      success: function(data) {
        $('#' + data["id"]).html($('#artist-follow-template').html());
        var count = parseInt($('#artist-follow-count').html());
        $('#artist-follow-count').html(count - 1);
      }
    });
  });
</script>

<script type="text/template" id="artist-follow-template">
  <button type="button" class="follow-b follow-artist btn btn-danger">Follow</button>
</script>
<script type="text/template" id="artist-unfollow-template">
  <button type="button" class="unfollow-b follow-artist btn btn-danger">Unfollow</button>
</script>

<%= render partial: "shared/ajax_follow_event" %>
