<div class="container">

  <h1>The Wall後台</h1>
  <div>
    <%= link_to 'Places', admin_places_path %>
    |
    <%= link_to 'Events', admin_events_path %>
    |
    <%= link_to 'Artists', admin_artists_path %>
    |
    <%= link_to 'Users', admin_users_path %>

  </div>

  <div class="row">
    <div class="col-md-12">
      <br>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Artist</th>
            <th>Photo</th>
            <th>Intro</th>
            <th>Followed</th>
            <th>Favorited</th>
            <th>Youtube</th>
            <th>Edit</th>
          </tr>
        </thead>

        <tbody>
          <% @artists.each do |artist| %>
          <tr>
            <!-- 推播數量、關注人數、跟隨者人數、推播被like的數量 -->
            <!-- 管理者可以瀏覽站內所有的使用者清單，該清單按推播文數排序 -->
            <th scope="row"><%= artist.id %></th>
            <td>[<%= link_to artist.name, artist_path(artist) %>]</td>
            <td><%= image_tag artist.photo, class: "avatar-navi rounded" %></td>
            <td><%= artist.intro%></td>
            <td><%= artist.artist_followships_count %></td>
            <td><%= artist.favorits_count %></td>
            <td><%= artist.youtube_link %></td>
            <td>
              <%= link_to 'Edit', edit_admin_artist_path(artist) %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <div class="text-center">
        <%#= paginate @events %>
      </div>

    </div>

  </div>
</div>

