<div class="container">

  <h1>The Wall後台</h1>
  <div>
    <%= link_to 'Places', admin_places_path %>
    |
    <%= link_to 'Events', admin_events_path %>
    |
    <%#= link_to 'Artists', admin_artists_path %>
    <!-- | -->
    <%= link_to 'Users', admin_users_path %>
    <%= link_to 'New place', new_admin_place_path, class: "float-right" %>
  </div>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Tel</th>
      <th>Information</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.name %></td>
        <td><%= place.address %></td>
        <td><%= place.tel%></td>
        <td><%= place.info %></td>
        <td><%= place.latitude %></td>
        <td><%= place.longitude %></td>
        <td><%= link_to 'Edit', edit_admin_place_path(place) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

