<table calss="table">
  <thead class="thead-dark">
    <tr>
      <th>Poster</th>
      <th>Event</th>
      <th>Date</th>
      <th>Artists</th>
      <th>Price</th>
      <th>Place</th>
      <th>Time</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= image_tag event.photo, width: "200px" %></td>
        <td><%= event.name %></td>
        <td><%= event.date %></td>
        <td>
          <ul>
            <% event.artists.each do |artist| %>
              <li><%= artist.name %></li>
            <% end %>
          </ul>
        </td>
        <td><%= event.price %></td>
        <td><%= event.places[0].name %></td>
        <td><%= event.time %></td>
      </tr>
    <% end %>
  </tbody>
</table>
