<!-- Event Show -->
<div class="event-show container row">
  <div class="image-column col-sm-4 offset-sm-1">
    <%= image_tag @event.photo, class: "img-fluid mx-auto d-block" %>
    <%= render "shared/followed", users: @event_followed %>
  </div>
  <div class="info-column col-sm-7">
    <h4><%= @event.date %>(<%= @event.week %>)</h4>
    <div>
      <h3 class="d-inline-block"><%= @event.name %></h3>
      <div class="d-inline-block follow-box">
        <%= render partial: "shared/user_follow_event", locals: {event: @event} %>
      </div>
    </div>
    <div id="bar"></div>
    <div class="info-column-detail">
      <div class="artist">
        <span class="badge badge-secondary">演出</span><br>
        <div class="artist-list">
          <% count = @artists.count - 1 %>
          <% @artists.each_with_index do |artist, index| %>
            <% if index != count %>
              <%= link_to artist.name, artist_path(artist) %>,
            <% else %>
              <%= link_to artist.name, artist_path(artist) %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="place">
        <span class="badge badge-secondary">場地</span>
        <p><%= @place.name %></p>
        <p><%= @place.address %></p>
      </div>
      <div class="price">
        <span class="badge badge-secondary">票價</span>
        <p><%= @event.price %></p>
      </div>
      <div class="time">
        <span class="badge badge-secondary">時間</span>
        <p><%= @event.time %></p>
      </div>
    </div>
  </div>
  
</div>

<%= render partial: "shared/ajax_follow_event" %>
