<div class="container">

  <h1>The Wall後台</h1>
  <div>
    <%= link_to 'Places', admin_places_path %>
    |
    <%= link_to 'Events', admin_events_path %>
    |
    <%= link_to 'Artists', admin_artists_path %>
    |
    <%= link_to 'Users', admin_users_path %>

  </div>

  <div class="row">
    <div class="col-md-12">
      <br>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>User</th>
            <th>Photo</th>
            <th>email</th>
            <th>Delete</th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
          <tr>
            <!-- 推播數量、關注人數、跟隨者人數、推播被like的數量 -->
            <!-- 管理者可以瀏覽站內所有的使用者清單，該清單按推播文數排序 -->
            <th scope="row"><%= user.id %></th>
            <td>[<%= link_to user.name, user_path(user) %>]</td>
            <td><%= image_tag user.avatar, class: "avatar-navi rounded" %></td>
            <td><%= user.email %></td>
            <td><%= link_to "Delete", admin_user_path(user) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <!-- <div class="text-center">
        <%#= paginate @users %>
      </div> -->

    </div>

  </div>
</div>

