<!DOCTYPE html>
<html>
  <head>
    <title>WallIndie</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"/>
  </head>

  <body>
    <!-- 套用Bootstrap 4的navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="<%= root_path %>">The Wall</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if current_user %>
            Hi, <%= current_user.email %>
            <li><%= link_to '登出', destroy_user_session_path, method: :delete, class: "nav-link" %></li>
            <li><%= link_to '修改密碼', edit_user_registration_path, class: "nav-link" %></li>
          <% else %>
            <li><%= link_to '登入', new_user_session_path, class: "nav-link" %></li>
          <% end %>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <!-- surprise! -->
 <!--    <div id="surprise">

    </div>



    <script type="text/template" id="surprise-template">
      <div class="surprise-container">
        <div class="word-frame text-center">
        </div>
      </div>
    </script>
    <script type="text/template" id="tony-template">
      <div id="tony">
        <h1 style = "color:red; text-align:center">生日快樂呀！</h1>
        <div class="row">
          <div class="col-md-6">
            <img src="http://i1.wp.com/inews.gtimg.com/newsapp_bt/0/2083536752/641" alt="">
          </div>
          <div class="col-md-6">
            <p>雖然今天你生日，但還是一起在寫code度過。真的是莎莎給油了！</p>
            <p>傻笑的樣子是真的蠻可愛的，但是心裡有不開心還是要說啊，別悶著。</p>
            <p>不然再好的工作都會被你悶壞了。</p>
            <p>恭喜你找到份好工作，往後的日子再請你多多指教呀！</p>
            <h3 style = "text-align:center; color:blue"></h3>
          </div>
        </div>
      </div>
    </script>
    <script>
      function start() {
        $('#surprise').html($('#surprise-template').html());
        setTimeout(function(){
          var change1 = document.getElementsByClassName('surprise-container')[0];
          change1.classList.add("change1");
        }, 1000);
        setTimeout(function() {
          $('.word-frame').append('<h1 class="animated fadeInUpBig">M</h1>');
        }, 2000);
        setTimeout(function() {
          $('.word-frame').append('<h1 class="animated fadeInUpBig">a</h1>');
        }, 2500);
        setTimeout(function() {
          $('.word-frame').append('<h1 class="animated fadeInUpBig">r</h1>');
        }, 3000);
        setTimeout(function() {
          $('.word-frame').append('<h1 class="animated fadeInUpBig">k</h1>');
        }, 3500);
        setTimeout(function() {
          var bounce = document.getElementsByClassName('word-frame')[0];
          bounce.classList.add('animated', 'bounce')
        }, 4500);
        setTimeout(function() {
          var change2 = document.getElementsByClassName('surprise-container')[0];
          change2.classList.add("change2");
        }, 5200);
        setTimeout(function() {
          $('.word-frame').append('<h3 class="animated bounceInLeft">Happy Birthday !!!</h3>');
        }, 5800);
        setTimeout(function() {
          var final = document.getElementsByClassName('word-frame')[0];
          for (var i = 0; i < 4; i++) {
            final.children[i].classList.remove("fadeInUpBig");
            final.children[i].classList.add("infinite", "wobble");
          }
        }, 7000);
        setTimeout(function() {
          $('.surprise-container').html($('#tony-template').html());
        }, 8000);
      }
      setTimeout(start, 1000);
    </script> -->
    <!-- surprise! -->

    <!-- carousel -->
    <% if @fix %>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "event0.jpg", class: "img_responsive", alt:"First slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "event1.jpg", alt:"Second slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "event2.jpg", alt:"Third slide" %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <% end %>
    <!-- carousel -->

    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible fade show" role="alert"><%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-danger"><%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <div id="content" class="container-fluid">
      <%= yield %>
    </div>

    <!-- Footer -->
    <div id="footer">
      <div>
        <p>© 2018 MTH</p>
      </div>
    </div>

  </body>
</html>
